body {
    background-color: slategrey;
    padding: 10px;
}

ul > li > a {
    margin-right: 15px;
}

header > nav > a {
    font-size: 40px;
    margin-right: 25px;
}

.container {
    background-color: azure;
}