@model Person

<form action="@Url.Action("DelPerson","Person")" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" class="btn btn-danger" name="Id" value="Delete" />
</form>