@model Person

<div id="@("person" + Model.Id)">
    <form  method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" onclick="@Url.Action("DelPerson","Person")" class="btn btn-danger" name="Id" value="Delete" />
    </form>
</div>