@model PersonViewModel


<div class="row">
    <ul id="AllPersons">
        @foreach (var item in Model.persons)
        {
            @await Html.PartialAsync("_Person", item)
        }
    </ul>
</div>
