@model PersonViewModel
@{
    ViewData["Title"] = "Person Index";
}

<h1>Person List</h1>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col">Name:<input type="text" id="createName" name="name"></div>
            <div class="col">City:<input type="text" id="createCity" name="city"></div>
            <div class="col">Phone:<input type="text" id="createPhone" name="phone"></div>
            <div class="col">
                <button class="btn btn-success" onclick="LinkCreate('@Url.Action("CreatePerson", "Person")')">
                    Create Person
                </button>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col"><b>Name</b></div>
    <div class="col"><b>City</b></div>
    <div class="col"><b>Telefon</b></div>
</div>
<hr />
<div id="AllPersons">
    @foreach (var item in Model.persons)
    {
        @await Html.PartialAsync("_Person", item)
    }

</div>


