@model List<Person>
@{
    ViewData["Title"] = "Person Index";
}

<h1>Person List</h1>

<div asp-controller="Person" asp-action="Index" method="post">
    <input type="text" name="name" value="" placeholder="Name" />
    <input type="text" name="city" value="" placeholder="City" />
    <input type="tel" name="phone" value="" placeholder="Telephone" />
    <input type="submit" value="Create" />

</div>
<div>
    <ul>
        @foreach (var item in Model)
        {
            @await Html.PartialAsync("_Person", item)
            @*@await Html.PartialAsync("_DelPerson", item)*@
        }

    </ul>
</div>

